@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $base-color;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: rgb(220, 220, 214);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  @include columnCenter;
  margin: 0 auto;
  color: $white;
  text-align: center;
  background-color: rgb(220, 220, 214);
  opacity: 0.9;
  border-radius: 15px;
  border: 2px solid red;
  box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.73);

  margin: 30px auto;
  margin-bottom: 5rem;
  overflow: hidden;
  width: 90%;
}

.stopwatch-container {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: $black;
  border: 2px solid orange;
  width: 800px;
  border-radius: 12px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  @include corners(5px);
  background: $base-color;
  color: $black;
  border: 1px solid $white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;

  &:hover {
    @include transition;
    background: $TrnsPrnt-black;
    border: solid 1px $white;
    color: $base-color;
  }
}

.game {
  &__container {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    perspective: 500px;

    @include tablet {
      grid-template-columns: repeat(5, auto);
    }

    @include desktop {
      grid-template-columns: repeat(10, auto);
    }
  }

  &__card {
    position: relative;
    height: 175px;
    width: 125px;
  }

  &__card-back-img {
    width: 100%;
  }

  &__driver-img {
    height: 100%;
  }

  .card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 800ms ease-in-out;
    backface-visibility: hidden;
  }
  // // Visible on face-down
  // &__card.visible &__card-back {
  //   transform: rotateY(-180deg);
  // }

  // // Visible on face-up
  // &__card.visible &__card-front {
  //   transform: rotateY(0);
  // }

  // ==================== test ===================
  // Hover effect face-down
  &__card:hover &__card-back {
    transform: rotateY(-180deg);
  }
  // Hover effect face-up
  &__card:hover &__card-front {
    transform: rotateY(0);
  }

  // ==================== test ===================

  // Rotation of the flip cards
  // &__card-back.card-face {
  //   transform: rotateY(0);
  // }

  &__card-front.card-face {
    transform: rotateY(-180deg);
  }

  &__card-back {
    width: 100%;
    height: 100%;
    background-color: black;
    transform: rotateY(0);
  }
}

.cp-container {
  margin-bottom: 10rem;
  &__copyright {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: $black;
    border-top: 1px solid $black;
    padding-top: 2rem;
    margin: 0 2rem;
  }
}

// // Light/Dark Mode Button

// .switch-box {
//   // position: relative;
//   // top: 30px;
//   // left: -620px;

//   display: flex;
//   justify-content: space-between;
// }

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 60px;
//   height: 34px;
// }

// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   transition: 0.4s;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 26px;
//   width: 26px;
//   left: 4px;
//   bottom: 4px;
//   background-color: white;
//   transition: 0.4s;
// }

// input:checked + .slider {
//   background-color: #2196f3;
// }

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196f3;
// }

// input:checked + .slider:before {
//   transform: translateX(26px);
// }

// .slider.round {
//   border-radius: 34px;
// }

// .slider.round:before {
//   border-radius: 50%;
// }
