@use "./styles/variables.scss" as *;
@use "./styles/mixins.scss" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $base-color;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  // height: 100vh;
  background-color: rgb(220, 220, 214);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  @include columnCenter;
  margin: 0 auto;

  color: $white;
  text-align: center;
  padding-bottom: 5rem;

  background-color: $red;
  opacity: 0.9;
  border-radius: 15px;
  border: 1px solid $white;
  box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.73);

  @include tablet {
    width: 90%;
  }

  @include desktop {
    display: block;
    margin: 30px auto;
  }
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  @include corners(5px);
  background: $base-color;
  color: $black;
  border: solid 1px $white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;

  &:hover {
    @include transition;
    background: $TrnsPrnt-black;
    border: solid 1px $white;
    color: $base-color;
  }
}

.game {
  &__container {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    perspective: 500px;

    @include tablet {
      margin: 5rem auto;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 10px;
      justify-content: center;
      // perspective: 500px;
    }

    @include desktop {
      margin: 5rem auto;
      display: grid;
      grid-template-columns: repeat(10, auto);
      grid-gap: 10px;
      justify-content: center;
      // perspective: 500px;
    }
  }
  &__card {
    position: relative;
    height: 175px;
    width: 125px;
  }

  // &__card-back {
  //   background-color: $black;
  //   position: relative;
  //   height: 175px;
  //   width: 125px;
  // }

  &__driver-img {
    // width: 100%;
    height: 180px;
  }
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.CR {
  margin-bottom: 10rem;
  &__copyright {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: $black;
    border-top: 1px solid $black;
    padding-top: 2rem;
    margin: 0 2rem;
  }
}
